.estados {
  display: flex;
  flex: 0 0 100%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  border: 1px dotted blue;
}

.estados .titulo {
  display: flex;
  align-self: flex-start;
  border: 1px dotted red;
}
