<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
  </head>
  <body>




    
    <section class="d-flex flex-wrap p-2 ms-2 border border-1 border-success-subtle">
      <div class="card text-center m-2" style="width: 18rem">
        <img
          class="card-img-top"
          style="opacity: 0.8; filter: grayscale(10%)"
          src="kansas_fachada.webp"
          alt=""
        />
        <div class="card-img-overlay">
          <h1
            class="card-title text-white fw-bold"
            style="text-shadow: 2px 2px rgba(0, 0, 0, 0.658)"
          >
            Shopping Anália Franco
          </h1>
        </div>
        <div class="card-body">
          <h6 class="card-subtitle mb-2">
            Anália Franco Empreendimentos Esportivos Ltda.
          </h5>
          <h6 class="text-body-secondary">53.296.307/0001-50</h6>
          <div class="d-flex align-items-center text-start">
            <img src="google_maps.png" class="p-0 m-0" style="width: 28px" />
            <div class="row p-0 m-0 lh-1 ms-2">
              <div class="p-0 m-0"><small>Regente Feijo 1739 - Loja AC 38/39</small></div>
              <div class="p-0 m-0 text-secondary">
                <small>Vila Regente Feijo 04558-005</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card text-center m-2" style="width: 18rem">
        <img
          class="card-img-top"
          style="opacity: 0.8; filter: grayscale(100%)"
          src="kansas_fachada.webp"
          alt=""
        />
        <div class="card-img-overlay">
          <h1
            class="card-title text-white fw-bold"
            style="text-shadow: 2px 2px rgba(0, 0, 0, 0.658)"
          >
            Shopping Anália Franco
          </h1>
        </div>
        <div class="card-body">
          <h6 class="card-subtitle mb-2">
            Anália Franco Empreendimentos Esportivos Ltda.
          </h5>
          <h6 class="text-body-secondary">53.296.307/0001-50</h6>
          <div class="d-flex align-items-center text-start">
            <img src="google_maps.png" class="p-0 m-0" style="width: 28px" />
            <div class="row p-0 m-0 lh-1 ms-2">
              <div class="p-0 m-0"><small>Regente Feijo 1739 - Loja AC 38/39</small></div>
              <div class="p-0 m-0 text-secondary">
                <small>Vila Regente Feijo 04558-005</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card text-center m-2" style="width: 18rem">
        <img
          class="card-img-top"
          style="opacity: 0.8; filter: grayscale(100%)"
          src="kansas_fachada.webp"
          alt=""
        />
        <div class="card-img-overlay">
          <h1
            class="card-title text-white fw-bold"
            style="text-shadow: 2px 2px rgba(0, 0, 0, 0.658)"
          >
            Shopping Anália Franco
          </h1>
        </div>
        <div class="card-body">
          <h6 class="card-subtitle mb-2">
            Anália Franco Empreendimentos Esportivos Ltda.
          </h5>
          <h6 class="text-body-secondary">53.296.307/0001-50</h6>
          <div class="d-flex align-items-center text-start">
            <img src="google_maps.png" class="p-0 m-0" style="width: 28px" />
            <div class="row p-0 m-0 lh-1 ms-2">
              <div class="p-0 m-0"><small>Regente Feijo 1739 - Loja AC 38/39</small></div>
              <div class="p-0 m-0 text-secondary">
                <small>Vila Regente Feijo 04558-005</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
